<h1>makin a nuw post</h1>

<form class="" action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title:
    <input type="text" name="post[title]" value="">
  </label>
  <label>Url(optional):
    <input type="text" name="post[url]" value="">
  </label>
  <br>
  <label>Content:
     <textarea name="post[content]"></textarea>
  </label>
  <br>

  <label>Subs:</label>
  <br>

  <input type="hidden" name="post[sub_ids][]" value="">

  <% Sub.all.each do |sub| %>
    <label><%= sub.title %>
      <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>" <%= "checked" if @post.sub_ids.include?(sub.id) %> >
    </label>
  <% end %>
  <br>

  <input type="submit" name="" value="submit plz">
</form>
